.side-bar-invlab {
    @apply bg-sky-400;
}

.headers-invlab {
    @apply bg-teal-500; 
}

.button-invlab {
    @apply bg-sky-800;  
}

.button-invlab-edit {
    @apply bg-emerald-300;  
}

.button-invlab-yellow {
    @apply bg-yellow-400;  
}

.button-invlab-orange {
    @apply bg-orange-400;  
}

.login-background {
    background-image: url("https://i.ibb.co/nBpLqfS/fondo.jpg");
    background-size: contain; 
    background-position: center center;
    align-items: center; 
    background-repeat: no-repeat;
    position: relative; 
    background-blend-mode: lighten; 
    background-color: rgba(90,230,220,0.6);
}